<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControlador</servlet-name>
        <servlet-class>Controlador.LoginControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryContrlador</servlet-name>
        <servlet-class>Controlador.HistoryContrlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControlador</servlet-name>
        <url-pattern>/LoginControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>Controlador.GameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/GameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryContrlador</servlet-name>
        <url-pattern>/HistoryContrlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
